.department {
	padding: 12px;
}

.older {
	border-top: solid 1px #aaa;
}
.older h2 {
	margin: 1px 0 0;
	font-size: 16px;
	color: #333;
	font-family: "Times", serif;
	border-top: solid 1px #aaa;
	border-bottom: solid 1px #aaa;
	padding: 3px 0 3px;
	text-align: center;
}

