.frame {
	padding: 12px 0 12px;
	border-bottom: solid 1px #ccc;
}
.frame .byline {
	text-align: right;
	font-size: 11px;
	color: #666;
}
.frame .caption,
.frame .caption p {
	color: #222;
	font-family: "Georgia", serif;
	font-size: 15px;
	line-height: 20px;
}